:root, .light-theme
{
	--primary: rgb(136, 195, 255);
	--primary-dark: rgb(59, 144, 230);
	--background: white;
	--nav-background: rgba(0, 0, 0, 0.95);
	--text: rgba(0, 0, 0, 0.85);
	--text-nav: rgba(255, 255, 255, 0.85);
	--link: rgb(0, 99, 192);
	--link-hover: rgb(0, 81, 156);
	--text-label-color: rgb(255, 42, 42);
	--location-input-bg: white;
	--location-input-color: rgba(0, 0, 0, 0.9);
	--location-input-border: rgba(0, 0, 0, 0.2);
	--map-background: #d3d3d3;
	--map-border: #808080;
	--map-tiles-filter: none;
	--brightness-bar: rgba(0, 0, 0, 0.15);
	--brightness-bar-full: var(--primary-dark);
	--spinner-color: var(--primary-dark);
}

*
{
	box-sizing: border-box;
}

html
{
	scroll-behavior: smooth;
}

body
{
	padding: 0;
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	background: var(--background);
	overflow-x: hidden;
	color: var(--text);
}

input
{
	font-family: inherit;
	font-size: inherit;
	padding: 5px;
	border: solid 1px var(--location-input-border);
	border-radius: 5px;
	color: var(--location-input-color);
	background: var(--location-input-bg);
}

input:focus
{
	border-color: var(--primary-dark) !important;
	outline: none;
}

.spinner
{
	width: 28px;
	height: 28px;
	display: inline-block;
	visibility: hidden;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	margin-left: 5px;
}

.spinner:after
{
	content: "";
	display: block;
	width: 28px;
	height: 28px;
	margin: 0px;
	position: relative;
	top: 5px;
	border-radius: 50px;
	border: solid;
	border-color: var(--spinner-color) transparent var(--spinner-color) transparent;
	animation: spinner-spin 1.2s linear infinite;
}

ul
{
	list-style: none;
}

a
{
	text-decoration: none;
	color: var(--link);
}

a:hover
{
	color: var(--link-hover);
}

.container
{
	width: 95vw;
	margin: auto;
	padding: 30px 0;
}

.logo
{
	margin-left: 10px;
	margin-right: 10px;
	filter: brightness(0.7);
}

nav
{
	background: var(--nav-background);
	color: var(--text-nav);
	height: 30px;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
}

nav ul
{
	display: flex;
	flex-direction: row;
	margin: 0;
	padding: 0;
	align-items: center;
}

nav ul li
{
	padding: 5px;
	margin: 0 10px;
}

nav ul li:hover
{
	color: rgba(255, 255, 255, 0.9);
}

nav ul li.selected
{
	font-weight: bold;
}

nav ul li a
{
	color: inherit;
	outline: none;
}

nav ul li a:hover
{
	color: inherit;
}

nav theme-settings
{
	margin-left: auto;
	margin-right: 10px;
}

header
{
	padding: 20px 0;
}

header h2
{
	text-align: center;
}

main
{
	text-align: center;
}

main #location
{
	margin-left: 10px;
	margin-right: 5px;
}

.map
{
	margin-top: 30px;
	max-width: 100%;
	height: 500px;
	background: var(--map-background) !important; /* when !important is added this will be the color of map tiles while they are loading */
	border: solid 1px var(--map-border);
}

.map-tiles
{
	filter: var(--map-tiles-filter);
}

.map-text-label::before
{
	display: none !important;
}

.map-text-label
{
	color: var(--text-label-color) !important;
	background: transparent !important;
	font-size: 18px !important;
	border: none !important;
	box-shadow: none !important;
	text-shadow: 1px 1px rgba(0, 0, 0, 0.3) !important;
	top: 15px;
	left: -15px;
}

.orbit-table
{
	margin: 0 auto;
	border-collapse: collapse;
}

.orbit-table td
{
	padding: 3px;
}

.sightings
{
	margin-top: 20px;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: space-around;
}

.sightings-details
{
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	justify-content: space-between;
	grid-gap: 5px;
	padding-top: 20px;
}

.sightings-list, .sightings-details
{
	width: 50%;
}

.sightings-list
{
	overflow-y: auto;
	max-height: 400px;
}

.sightings-list ul
{
	padding: 0;
}

.sightings-list ul li
{
	padding: 10px;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	justify-content: space-between;
	border-radius: 5px;
	border: solid 1px transparent;
}

.sightings-list h4
{
	margin-bottom: 0;
}

.date
{
	text-align: left;
}

.duration
{
	text-align: center;
}

.brightness-value
{
	text-align: right;
}

.brightness-indicator
{
	justify-self: flex-end;
	position: relative;
	top: -3px;
}

.brightness-indicator .bar
{
	display: inline-block;
	background: var(--brightness-bar);
	margin-right: 2px;
	width: 5px;
	position: relative;
	top: 3px;
}

.brightness-indicator .bar-1
{
	height: 5px;
}

.brightness-indicator .bar-2
{
	height: 10px;
}

.brightness-indicator .bar-3
{
	height: 15px;
}

.brightness-indicator .bar-4
{
	height: 20px;
}

.brightness-indicator .bar.full
{
	background: var(--brightness-bar-full);
}

.sightings-list ul li:hover
{
	cursor: pointer;
	border-color: var(--primary);
}

.sightings-list ul li.selected
{
	border-color: var(--primary-dark);
}

.text-left
{
	text-align: left;
}

.description
{
	width: 100%;
	text-align: left;
	margin-top: 30px;
	font-size: 0.9rem;
	grid-column: 1/4;
}

.bold
{
	font-weight: bold;
}

.no-passes-message
{
	margin-top: 10px;
}

.no-passes-message p
{
	margin: 5px;
}

.no-passes-message p:first-child
{
	margin-top: 0px;
}

.hidden
{
	display: none;
}

@keyframes spinner-spin
{
	0%
	{
		transform: rotate(0deg);
	}

	100%
	{
		transform: rotate(360deg);
	}
}

@media(max-width: 780px)
{
	.sightings-details
	{
		padding: 0;
	}

	.sightings-list h4
	{
		margin-top: 0;
	}

	.container
	{
		width: 100%;
		padding: 30px 0;
	}

	header, .sightings
	{
		padding: 10px 10px;
	}
}

@media(max-width: 680px)
{
	.sightings-list, .sightings-details
	{
		font-size: 0.9rem;
	}
}

@media(max-width: 520px)
{
	.container
	{
		padding: 20px 0;
	}

	.map
	{
		max-height: 400px;
		margin-top: 15px;
	}

	body
	{
		font-size: 16px;
	}

	header, .sightings
	{
		padding: 0 10px;
	}

	.sightings-details
	{
		grid-template-columns: 1fr;
	}

	.sightings-list
	{
		width: 60%;
	}

	.sightings-list ul li
	{
		padding: 5px;
	}
	
	.sightings-details
	{
		width: 40%;
	}
}

@media(max-width: 390px)
{
	.sightings-list ul li
	{
		grid-template-columns: 1fr;
	}

	.date, .duration
	{
		text-align: center;
	}

	.brightness-indicator
	{
		justify-self: center;
	}
}

@media(max-width: 400px)
{
	.map
	{
		max-height: 300px;
	}
}

@media(min-height: 1100px)
{
	.sightings-list
	{
		max-height: none;
	}
}

@media(prefers-reduced-motion: reduce)
{
	html
	{
		scroll-behavior: auto;
	}
}