:root
{
	--primary: rgb(136, 195, 255);
	--primary-dark: rgb(59, 144, 230);
	--background: rgb(235, 235, 235);
	--text: rgba(0, 0, 0, 0.9);
}

*
{
	box-sizing: border-box;
}

html
{
	scroll-behavior: smooth;
}

body
{
	padding: 0;
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	background: var(--background);
	overflow-x: hidden;
	color: var(--text);
}

input
{
	font-family: inherit;
	font-size: inherit;
	padding: 5px;
	border: solid 1px rgba(0, 0, 0, 0.2);
	border-radius: 5px;
	color: black;
	background: white;
}

input:focus
{
	border-color: var(--primary-dark) !important;
	outline: none;
}

.spinner
{
	width: 28px;
	height: 28px;
	display: inline-block;
	visibility: hidden;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	margin-left: 5px;
}

.spinner:after
{
	content: "";
	display: block;
	width: 28px;
	height: 28px;
	margin: 0px;
	position: relative;
	top: 5px;
	border-radius: 50px;
	border: solid;
	border-color: var(--primary-dark) transparent var(--primary-dark) transparent;
	animation: spinner-spin 1.2s linear infinite;
}

ul
{
	list-style: none;
}

a
{
	text-decoration: none;
}

.container
{
	width: 95vw;
	margin: auto;
	padding: 30px 0;
}

.logo
{
	margin-left: 10px;
	margin-right: 10px;
}

nav
{
	background: black;
	color: rgba(255, 255, 255, 0.85);
	height: 30px;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
}

nav ul
{
	display: flex;
	flex-direction: row;
	margin: 0;
	padding: 0;
	align-items: center;
}

nav ul li
{
	padding: 5px;
	margin: 0 10px;
}

nav ul li.selected, nav ul li:hover
{
	color: white;
}

nav ul li a
{
	color: inherit;
	outline: none;
}

header
{
	padding: 20px 0;
}

header h2
{
	text-align: center;
}

main
{
	text-align: center;
}

main #location
{
	margin-left: 10px;
	margin-right: 5px;
}

.map
{
	margin-top: 30px;
	max-width: 100%;
	height: 500px;
	background: #d3d3d3;
	border: solid 1px #808080;
}

.orbit-table
{
	margin: 0 auto;
	border-collapse: collapse;
}

.orbit-table td
{
	padding: 3px;
}

.sightings
{
	margin-top: 20px;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: space-around;
}

.sightings-details
{
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	justify-content: space-between;
	grid-gap: 5px;
	padding-top: 20px;
}

.sightings-list, .sightings-details
{
	width: 50%;
}

.sightings-list
{
	overflow-y: auto;
	height: 500px;
}

.sightings-list ul
{
	padding: 0;
}

.sightings-list ul li
{
	padding: 10px;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	justify-content: space-between;
	border-radius: 5px;
	border: solid 1px transparent;
}

.date
{
	text-align: left;
}

.duration
{
	text-align: center;
}

.max-elevation
{
	text-align: right;
}

.sightings-list ul li:hover
{
	cursor: pointer;
	border-color: var(--primary);
}

.sightings-list ul li.selected
{
	border-color: var(--primary-dark);
}

.text-left
{
	text-align: left;
}

.description
{
	width: 100%;
	text-align: left;
	margin-top: 30px;
	font-size: 0.9rem;
	grid-column: 1/4;
}

.bold
{
	font-weight: bold;
}

.no-passes-message
{
	margin-top: 10px;
}

.no-passes-message p
{
	margin: 5px;
}

.no-passes-message p:first-child
{
	margin-top: 0px;
}

.hidden
{
	display: none;
}

.text-label::before
{
	display: none !important;
}

.text-label
{
	color: rgb(255, 42, 42) !important;
	background: transparent !important;
	font-size: 18px !important;
	border: none !important;
	box-shadow: none !important;
	text-shadow: 1px 1px rgba(0, 0, 0, 0.5) !important;
}

@keyframes spinner-spin
{
	0%
	{
		transform: rotate(0deg);
	}

	100%
	{
		transform: rotate(360deg);
	}
}

@media(max-width: 780px)
{
	.sightings-details
	{
		padding: 0;
	}

	.sightings-list h4
	{
		margin-top: 0;
	}

	.container
	{
		width: 100%;
		padding: 30px 0;
	}

	header, .sightings
	{
		padding: 10px 10px;
	}
}

@media(max-width: 680px)
{
	.sightings-list, .sightings-details
	{
		font-size: 0.9rem;
	}
}

@media(max-width: 520px)
{
	.container
	{
		padding: 20px 0;
	}

	.map
	{
		max-height: 400px;
		margin-top: 15px;
	}

	body
	{
		font-size: 16px;
	}

	header, .sightings
	{
		padding: 0 10px;
	}

	.sightings-details
	{
		grid-template-columns: 1fr;
	}

	.sightings-list
	{
		width: 60%;
	}

	.sightings-list ul li
	{
		padding: 5px;
	}
	
	.sightings-details
	{
		width: 40%;
	}
}

@media(max-width: 390px)
{
	.sightings-list ul li
	{
		grid-template-columns: 1fr;
	}

	.date, .duration, .max-elevation
	{
		text-align: center;
	}
}

@media(max-width: 400px)
{
	.map
	{
		max-height: 300px;
	}
}

@media(prefers-reduced-motion: reduce)
{
	html
	{
		scroll-behavior: auto;
	}
}

@media(prefers-color-scheme: dark)
{
	:root
	{
		--primary: rgb(136, 195, 255);
		--primary-dark: rgb(59, 144, 230);
		--background: rgb(66, 76, 104);
		--text: rgba(255, 255, 255, 0.8);
	}

	a
	{
		color: rgb(96, 178, 255);
	}

	input
	{
		color: white;
		background-color: rgba(0, 0, 0, 0.2);
		border-color: transparent;
	}
}